/* * {
  box-sizing: border-box;
} */

.container {
  max-width: 800px;
  margin: 0 auto;
}

.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.grid-item {
  -ms-flex: auto;
  width: 200px;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.col-1 {
  flex-basis: 33.33%;
}

.col-2 {
  flex-basis: 66%;
}

.col-3 {
  flex-basis: 100%;
}